@page "/Detail/{Seed:int}"

<div>
    [SubDetail Page]
    Nothing special here: just click the link to go to a mvc (non blazor) page then start duplicate the page 
    with the countdown at least four times (4 tabs). Take care to create the duplicate page by starting from the most recent duplicate one
    not from the first page. this increases the chances to see the issue.
    
    <a href="@GetMvcUrl(0)">Link to MVC page</a>
    <br/>

    

</div>

    

    @code {

        [Parameter]
        public int Seed { get; set; }


        public Uri GetMvcUrl(int v)
        {
            return new Uri($"MvcDetail/{Seed+1000*v}", UriKind.Relative);
        }
    }
